<% include ../partials/_header.ejs %>
  <body class="">
    <div class="page">
      <div class="page-main">
    
      
        <% include ../partials/_topbar.ejs %>
        <% include ../partials/_navbar.ejs %>
        <div class="my-3 my-md-5">
          <div class="container">



            <div class="row row-card">
              <% include ../partials/_messages.ejs %>
            


          <div class="col-6">
              <div class="card">
                <div class="card-body">
                   
                     
                  <div class="media">
                    <span class="avatar avatar-xxl mr-5" style="background-image: url(demo/faces/male/21.jpg)"></span>
                    <div class="media-body">
                        <% if(candidate) { %>
                          <h4 class="m-0">  <%= candidate.first_name %> <%= candidate.last_name %> </h4>
                         
                          <p class="text-muted mb-0"> <%= candidate.email %></p>
                        <% }%>
                    
                  
                    </div>
                     
                  </div>
                </div>
              </div>
            </div>


            <div class="col-6">
                <div class="card">
                  <div class="card-body">
                    <div class="media">
                    <div class="media-body">

                          <% if(interview) { %>
                           
                            
                            <h4 class="m-0">   <%= interview.name %> </h4>
                            <p class="text-muted mb-0">Update: <%= interview.updated %></p>
                        
                          <% }%>
                            <!-- interview.questions
                        <ul class="social-links list-inline mb-0 mt-2">


                          <li class="list-inline-item">
                            <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li class="list-inline-item">
                            <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li class="list-inline-item">
                            <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="1234567890"><i class="fa fa-phone"></i></a>
                          </li>
                          <li class="list-inline-item">
                            <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="@skypename"><i class="fa fa-skype"></i></a>
                          </li>
                        </ul>-->
                      </div>
                    </div>
                  </div>
                </div>
              </div>

          
          </div>

          <div class="row ">
            <% questions.forEach(function(response) { %>
    <div class="col-md-4">
      <div class="card p-3  box-shadow">
        <video id="videoPlayer" class="card-img-top" controls>
          <source src=<%= response.path %>  type="video/mp4">
        </video>
        <div class="card-body">
          
        
          <div class="d-flex justify-content-between align-items-center">

              <div>
                  <div class='row'>
                  <div><%= response.question %> </div>
               </div>
                     <!---->
                  <div class='row'>
                     <ul class=" list-inline mb-0 mt-1">
                      <li class="list-inline-item">
                        <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="Likelihood of a person being perceived as angry. Low value indicates unlikely to be perceived as angry. High value indicates very likely to be perceived as angry.
"><i class="fe fe-check-circle"></i>Anger</a>
                      </li>
                      <li class="list-inline-item">
                        <a style="color:grey" href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="Likelihood of a person being perceived as scared. Low value indicates unlikely to be perceived as fearful. High value, very likely to be perceived as scared.
                        "><i class="fe fe-x-circle"></i>Fear</a>
                      </li>
                      <li class="list-inline-item" >
                        <a style="color:grey" href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="Joy or happiness has shades of enjoyment, satisfaction and pleasure. There is a sense of well-being, inner peace, love, safety and contentment.
                        "><i class="fe fe-x-circle"  ></i>Joy</a>
                      </li>
                      <li class="list-inline-item">
                        <a  style="color:green" href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="Likelihood of a person being perceived as sad. Low value, unlikely to be perceived as sad. High value very likely to be perceived as sad.
                        "><i class="fe fe-check-circle"></i>Sadness</a>
                      </li>

                      <li class="list-inline-item">
                        <a  style="color:green" href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="A person's reasoning and analytical attitude about things. Higher value, more likely to be perceived as intellectual, rational, systematic, emotionless, or impersonal.
                        "><i class="fe fe-check-circle"  ></i>Analytical</a>
                      </li>

                      <li class="list-inline-item">
                        <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="A person's degree of certainty. Higher value, more likely to be perceived as assured, collected, hopeful, or egotistical.
                        "><i class="fe fe-check-circle"></i>Confident</a>
                      </li>

                      <li class="list-inline-item">
                        <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="A person's degree of inhibition. Higher value, more likely to be perceived as questionable, doubtful, limited, or debatable.
                        "><i class="fe fe-check-circle"></i>Tentative</a>
                      </li>

                    </ul>
                  </div>

                  <div class='row'>
                      <small class="d-block text-muted"><%= response.transcript %></small>
                  </div>



              </div>
     
           <!-- <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>-->
            <small class="text-muted"><%= response.duration %></small>
          </div>
        </div>
      </div>
    </div>
            <% }); %>
            </div>


            <div class="row">
                <div class="col-12">
                    <div class="card">
                      <div class="card-body">
                <a href="/response/personality/1234" class="btn btn-primary">Personality Profile</a>
              
              </div>
            </div>
          </div>
              
              </div>




          </div>




        </div>
      </div>
     <!-- <% include ../partials/_footer_header.ejs %>-->
      <% include ../partials/_footer.ejs %>
    </div>
  </body>
</html>